@use '@/styles/base' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input {
  border: none;
  border-bottom: 2px solid $color-muted;
  padding: 8px 0;

  &::placeholder {
    color: $color-muted;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-text;
  }

  &[aria-invalid='true'] {
    border-color: $color-error;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover {
    box-shadow: 0 0 0px 1000px $color-background inset;
    -webkit-text-fill-color: $color-text;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.error {
  color: $color-error;
  font-size: 0.8rem;
  margin-top: 4px;
}
