$font-primary: 'Inter', sans-serif;
$font-secondary: 'IBM Plex Sans', sans-serif;

$color-background: #f6f6f6;
$color-text: #333;
$color-muted: #efeeed;

$color-primary: #00c8b3;
$color-error: #eb4a46;

$color-button-hover: rgba(0, 200, 179, 0.7);
$color-disabled-bg: #f6f6f6;
$color-disabled-text: #dddcdc;
