@use './base';

body {
  font-family: base.$font-primary;
  background-color: base.$color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base.$font-secondary;
  color: base.$color-text;
  font-weight: 500;
}
